@media only screen and (max-width: 1412px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 1242px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 1133px) {
  /* ----------------------------------------------- */
  /* REUSABLE */
  /* ----------------------------------------------- */

  /* ----- BUTTONS ----- */
  .btn:link,
  .btn:visited {
    font-size: 14px;
  }
  .btn-discount:link {
    font-size: 14px;
  }
  .discount-button {
    margin: 11.5rem 0 0 14rem;
  }

  /* ----------------------------------------------- */
  /* ABOUT US */
  /* ----------------------------------------------- */
  .about-us-box {
    width: 60%;
    margin: 4rem 0;
  }
  .about-us-image {
    display: none;
  }

  /* ----------------------------------------------- */
  /* PRICING */
  /* ----------------------------------------------- */
  .plans-boxes h2,
  .plans-boxes h4 {
    display: none;
  }
  .pricing-headings-queries {
    display: block;
  }
  .pricing-section {
    display: block;
    text-align: center;
  }
  .price-per-week {
    margin-left: 0.5rem;
  }
  video {
    width: 75rem;
  }

  .pricing-container {
    grid-template-columns: 75rem;
  }
}

@media only screen and (max-width: 1015px) {
  /* ----------------------------------------------- */
  /* REUSEABLE */
  /* ----------------------------------------------- */
  .row,
  .nav {
    width: 100%;
    padding: 2% 2%;
  }

  /* ----------------------------------------------- */
  /* DISCOUNT */
  /* ----------------------------------------------- */
  .discount-container {
    padding: 5rem 0;
  }
  .discount-text {
    width: 70%;
  }

  /* ----- DISCOUNT BUTTONS ----- */
  .discount-button {
    margin: 12rem 0 0 0;
  }
}

@media only screen and (max-width: 848px) {
  /* ----------------------------------------------- */
  /* REUSEABLE */
  /* ----------------------------------------------- */
  p {
    font-size: 16px;
    line-height: 22px;
  }

  /* ----------------------------------------------- */
  /* STICKY NAVIGATOIN */
  /* ----------------------------------------------- */
  /* ----- NAVIGATOIN ----- */
  .main-nav {
    display: none;
  }
  .logo {
    display: none;
  }

  /* ----- STICKY NAVIGATOIN ----- */
  .nav {
    padding: 0;
  }
  .sticky-nav {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    text-align: center;
  }

  .sticky-nav-list {
    list-style: none;
    background-color: #f6fafe;
    border-radius: 2px;
    padding: 8px;
    border-bottom: 1px #c2d1da solid;
  }

  .sticky-nav-list li {
    display: inline-block;
    font-size: 15px;
    margin-right: 1%;
    padding-right: 1%;
    text-align: center;
    border-right: 1px #c2d1da solid;
    font-size: 2rem;
  }

  .sticky-nav-list li:last-of-type {
    border: none;
    padding: 0;
    margin: 0;
  }

  /* ----------------------------------------------- */
  /* PROGRAMS */
  /* ----------------------------------------------- */
  .programs-container {
    grid-template-columns: 75rem;
  }

  /* ----------------------------------------------- */
  /* WHY CHOOSE US */
  /* ----------------------------------------------- */
  .service-container {
    grid-template-columns: 75rem;
    gap: 5rem;
  }
  .why-choose-us-section {
    margin: 5rem 0;
  }
  .service-box span {
    font-size: 13px;
  }
  .service-box p {
    font-size: 16px;
  }

  /* ----------------------------------------------- */
  /* DISCOUNT */
  /* ----------------------------------------------- */

  .discount-container {
    text-align: center;
    padding: 3rem 0;
    flex-direction: column;
  }
  .discount-text {
    width: 100%;
    margin-bottom: 2rem;
  }
  .discount-header {
    margin: 2rem 0;
  }
  .discount-footer {
    display: none;
  }

  /* ----- DISCOUNT BUTTONS ----- */
  .discount-button {
    margin: 0 0 5rem 0;
  }

  /* ----------------------------------------------- */
  /* SCHEDULE */
  /* ----------------------------------------------- */
  .schedule-container {
    grid-template-columns: repeat(8, 10rem);
    grid-template-rows: 7rem repeat(4, 10rem);
    font-size: 11.5px;
  }

  .hours-row {
    padding-top: 2.5rem;
  }

  .hours-column {
    padding: 4rem 0 0 0;
  }

  /* ----------------------------------------------- */
  /* OUR TEAM SECTION */
  /* ----------------------------------------------- */
  .team-container {
    grid-template-columns: repeat(2, 38rem);
    row-gap: 13px;
  }

  .team-image {
    height: 60rem;
  }
}

@media only screen and (max-width: 663px) {
  .schedule-section {
    display: none;
  }
}

@media only screen and (max-width: 626px) {
  html {
    font-size: 37%;
  }

  h1 {
    font-size: 52px;
  }

  /* ----------------------------------------------- */
  /* HEADER */
  /* ----------------------------------------------- */
  .header {
    background-image: none;
    background-color: #f8fbff;
  }

  .hero-text-box {
    position: relative;
    text-align: start;
    padding-left: 6%;
  }

  .hero-text-box p {
    width: 77%;
  }

  cite {
    font-size: 14px;
  }

  /* ----------------------------------------------- */
  /* OUR TEAM SECTION */
  /* ----------------------------------------------- */
  .team-container {
    grid-template-columns: repeat(2, 40rem);
    row-gap: 13px;
  }

  .team-image {
    height: 59rem;
  }

  /* ----------------------------------------------- */
  /* PRICING */
  /* ----------------------------------------------- */
  .plan-advantage span {
    font-size: 12px;
    font-weight: 500;
  }

  .price-per-week {
    font-size: 12px;
  }

  .price-box-container {
    grid-template-columns: 10rem 36rem 20rem;
  }

  .price-box-container .plan-icon {
    padding-top: 65%;
  }

  .box-icon {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 481px) {
  html {
    font-size: 25%;
  }

  /* ----------------------------------------------- */
  /* REUSEABLE */
  /* ----------------------------------------------- */
  h1 {
    font-size: 43px;
  }
  p {
    font-size: 14px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 15px;
  }

  h5 {
    font-size: 12px;
  }
  /* ----- BUTTONS ----- */
  .btn:link,
  .btn:visited {
    font-size: 10px;
  }

  .service-box p {
    font-size: 14px;
  }

  .about-us-box {
    width: 86%;
  }
  /* ----------------------------------------------- */
  /* PRICING */
  /* ----------------------------------------------- */
  .plan-advantage span {
    font-size: 10px;
    font-weight: 500;
  }

  .price-per-week {
    font-size: 10px;
  }
  .price-box-container {
    grid-template-columns: 7rem 41rem 26rem;
  }
  .price-box-container .plan-icon {
    padding-top: 7rem;
  }
  .box-icon {
    font-size: 4.5rem;
  }
  .plan-type {
    margin-top: 4rem;
  }
}

/* 
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/
