@media only screen and (max-width: 1470px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 1300px) {
  html {
    font-size: 48.5%;
  }
}

@media only screen and (max-width: 1143px) {
  html {
    font-size: 50%;
  }
  /* ----------------------------------------------- */
  /* REUSABLE */
  /* ----------------------------------------------- */

  /* ----- HEADINGS ----- */
  p {
    font-size: 16px;
  }

  /* ----- HEADINGS ----- */
  h1 {
    font-size: 57px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 17px;
  }
  h5 {
    font-size: 20px;
  }

  /* ----- BUTTONS ----- */
  .btn:link,
  .btn:visited {
    font-size: 12px;
  }

  .btn-discount:link {
    font-size: 14px;
  }
  .discount-button {
    margin: 11.5rem 0 0 14rem;
  }

  /* ----------------------------------------------- */
  /* HEADER */
  /* ----------------------------------------------- */
  .hero-text-box p {
    font-size: 16px;
    line-height: 20px;
  }

  /* ----------------------------------------------- */
  /* PRICING */
  /* ----------------------------------------------- */
  .plans-boxes h2,
  .plans-boxes h4 {
    display: none;
  }
  .pricing-headings-queries {
    display: block;
  }
  .pricing-section {
    display: block;
    text-align: center;
  }
  .pricing-container {
    grid-template-columns: 70rem;
  }
}

@media only screen and (max-width: 971px) {
  /* ----------------------------------------------- */
  /* REUSABLE */
  /* ----------------------------------------------- */
  .row,
  .nav {
    width: 100%;
    padding: 2% 2%;
  }

  /* ----------------------------------------------- */
  /* PROGRAMS */
  /* ----------------------------------------------- */
  .programs-container {
    grid-template-columns: 80rem;
  }

  /* ----------------------------------------------- */
  /* ABOUT US */
  /* ----------------------------------------------- */
  .about-us-box {
    width: 70%;
  }
  .about-us-image {
    display: none;
  }

  /* ----------------------------------------------- */
  /* WHY CHOOSE US */
  /* ----------------------------------------------- */
  .service-container {
    grid-template-columns: 75rem;
    gap: 5rem;
  }
  .why-choose-us-section {
    margin: 5rem 0;
  }
  .service-box span {
    font-size: 13px;
  }

  .service-box p {
    font-size: 16px;
  }

  /* ----------------------------------------------- */
  /* DISCOUNT */
  /* ----------------------------------------------- */
  .discount-section {
    width: 86%;
    margin-left: 7%;
  }
  .discount-container {
    text-align: center;
    padding-top: 0;
    flex-direction: column;
  }
  .discount-text {
    width: 100%;
    margin-bottom: 2rem;
  }
  .discount-header {
    margin: 2rem 0;
  }
  .discount-footer {
    display: none;
  }

  /* ----- DISCOUNT BUTTONS ----- */
  .discount-button {
    margin: 0 0 5rem 0;
  }
}

@media only screen and (max-width: 888px) {
  /* ----- NAVIGATOIN ----- */
  .main-nav {
    display: none;
  }
  .logo {
    display: none;
  }

  /* ----- STICKY NAVIGATOIN ----- */
  .nav {
    padding: 0;
  }
  .sticky-nav {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    text-align: center;
  }

  .sticky-nav-list {
    list-style: none;
    background-color: #f6fafe;
    border-radius: 2px;
    padding: 8px;
    border-bottom: 1px #c2d1da solid;
  }

  .sticky-nav-list li {
    display: inline-block;
    font-size: 15px;
    margin-right: 2%;
    padding-right: 2%;
    text-align: center;
    border-right: 1px #c2d1da solid;
    font-size: 11px;
  }

  .sticky-nav-list li:last-of-type {
    border: none;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 676px) {
  html {
    font-size: 44%;
  }
}

@media only screen and (max-width: 602px) {
  html {
    font-size: 37%;
  }

  h1 {
    font-size: 52px;
  }
  .header {
    background-image: none;
    background-color: #f8fbff;
  }

  .hero-text-box {
    position: relative;
    text-align: start;
    padding-left: 6%;
  }

  .hero-text-box p {
    width: 77%;
  }

  cite {
    font-size: 14px;
  }

  /* ----------------------------------------------- */
  /* SCHEDULE */
  /* ----------------------------------------------- */
  .schedule-nav {
    font-size: 11.5px;
  }

  .schedule-container {
    font-size: 10px;
  }

  /* ----------------------------------------------- */
  /* OUR TEAM SECTION */
  /* ----------------------------------------------- */
  .team-container {
    grid-template-columns: repeat(2, 21rem);
    row-gap: 13px;
  }

  .team-image {
    height: 31rem;
  }

  /* ----------------------------------------------- */
  /* PRICING */
  /* ----------------------------------------------- */
  .plan-advantage span {
    font-size: 13px;
    font-weight: 400;
  }

  .price-per-week {
    font-size: 12px;
  }
}

/* 
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/
