@media only screen and (max-width: 1470px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 1300px) {
  html {
    font-size: 48.5%;
  }
}

@media only screen and (max-width: 1143px) {
  html {
    font-size: 50%;
  }
  /* ----------------------------------------------- */
  /* REUSABLE */
  /* ----------------------------------------------- */

  /* ----- HEADINGS ----- */
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 15px;
  }
  h5 {
    font-size: 20px;
  }

  /* ----- BUTTONS ----- */
  .btn:link,
  .btn:visited {
    font-size: 12px;
  }

  /* ----------------------------------------------- */
  /* HEADER */
  /* ----------------------------------------------- */
  .service-paragraph {
    font-size: 12px;
  }
  .header {
    font-size: 16px;
  }
  .text-box p {
    line-height: 20px;
  }
  .text-box .btn {
    font-size: 12px;
  }

  /* ----------------------------------------------- */
  /* PROGRAMS */
  /* ----------------------------------------------- */
  .programs-section .programs-container .program-box p {
    font-size: 16px;
  }

  /* ----------------------------------------------- */
  /* PRICING */
  /* ----------------------------------------------- */
  .plans-boxes h2,
  .plans-boxes h4 {
    display: none;
  }
  .pricing-headings-queries {
    display: block;
  }
  .pricing-section {
    display: block;
    text-align: center;
  }
  .pricing-container {
    grid-template-columns: 70rem;
  }
}

@media only screen and (max-width: 971px) {
  /* ----------------------------------------------- */
  /* HEADER */
  /* ----------------------------------------------- */

  /* ----- NAVIGATOIN ----- */
  .main-nav {
    display: none;
  }
  /* ----- STICKY NAVIGATOIN ----- */
  .sticky-nav {
    display: block;
    float: right;
    margin-right: 2%;
    z-index: 9999;
  }

  .sticky-nav-list {
    list-style: none;
    background-color: #e4e9ec;
    border-radius: 2px;
    padding: 7px;
  }
  .sticky-nav-list li {
    margin-top: 8px;
    font-size: 12px;
    text-align: center;
  }

  /* #c2d1da */
  .sticky-nav-list li::after {
    display: block;
    content: "";
    width: 70%;
    margin-left: 15%;
    margin-top: 6px;
    border: 1px solid #c2d1da;
  }

  /* ----------------------------------------------- */
  /* REUSABLE */
  /* ----------------------------------------------- */
  .row,
  .nav {
    width: 100%;
    padding: 2% 2%;
  }

  /* ----------------------------------------------- */
  /* PROGRAMS */
  /* ----------------------------------------------- */
  .programs-container {
    grid-template-columns: 80rem;
  }
  /* ==================================================== */
  .about-us-box {
    width: 70%;
  }
  .about-us-section h4 {
    text-align: center;
  }
  .about-us-image {
    display: none;
  }

  /* ----------------------------------------------- */
  /* SERVICE */
  /* ----------------------------------------------- */
  .service-container {
    grid-template-columns: 75rem;
    gap: 5rem;
  }
  .why-choose-us-section {
    margin: 5rem 0;
  }

  /* ----------------------------------------------- */
  /* DISCOUNT */
  /* ----------------------------------------------- */
  .discount-section {
    width: 86%;
    margin-left: 7%;
  }
  .discount-container {
    text-align: center;
    padding-top: 0;
    flex-direction: column;
  }
  .discount-text {
    width: 100%;
    margin-bottom: 2rem;
  }
  .discount-header {
    margin: 2rem 0;
  }
  .discount-footer {
    display: none;
  }

  /* ----- DISCOUNT BUTTONS ----- */
  .discount-button {
    margin: 0 0 5rem 0;
  }
}

@media only screen and (max-width: 668px) {
  html {
    font-size: 44%;
  }

  .btn-discount:link {
    font-size: 12px;
  }
}

@media only screen and (max-width: 587px) {
  html {
    font-size: 37%;
  }

  h1 {
    font-size: 45px;
  }

  .schedule-container {
    font-size: 9px;
  }
  .schedule-nav {
    font-size: 11px;
  }
  .plan-advantage span {
    font-size: 11px;
  }

  .schedule-container {
    font-size: 10px;
  }
}

/* @media only screen and (max-width: 514px) {
    html {
      font-size: 32%;
    }
  }
  @media only screen and (max-width: 376px) {
    html {
      font-size: 29%;
    }
  } */

/* 
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/
